# Instacart Market Basket Analysis

### Importing the data

In [36]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

### Loading the csv files while creating the Dataframes

In [37]:
orders_df = pd.read_csv(r"E:\UMassD\Projects\SQL - Instacart\orders.csv")

In [38]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [39]:
aisles_df = pd.read_csv(r"E:\UMassD\Projects\SQL - Instacart\aisles.csv")

In [40]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [41]:
departments_df = pd.read_csv(r"E:\UMassD\Projects\SQL - Instacart\departments.csv")

In [42]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [64]:
order_products_df = pd.read_csv(r"E:\UMassD\Projects\SQL - Instacart\order_products__prior.csv").sample(1000)

In [65]:
order_products_df.tail()

          order_id  product_id  add_to_cart_order  reordered
10239438   1081037       47626                 11          0
24148074   2546827       21938                 11          1
19305514   2036182       27845                  1          1
49389         5223        2552                 27          1
4934522     520778       15841                  3          1

In [45]:
products_df = pd.read_csv(r"E:\UMassD\Projects\SQL - Instacart\products.csv")

In [46]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

### Making a connection to the PostgreSQL database

In [47]:
try:
    conn = psycopg2.connect(dbname="ecomm_analysis", user='postgres', password='Rohith@561', port='5432')
except:
    print("connection was unsuccessful")

### Made the cursor

In [48]:
cur = conn.cursor()

### Creating an Engine to insert data using SQL alchemy

In [49]:
engine = create_engine('postgresql+psycopg2://postgres:Rohith%40561@localhost/ecomm_analysis')

### Creating the tables into the PostgreSQL

In [50]:
cur.execute('''
DROP TABLE IF EXISTS order_products CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS products CASCADE;
DROP TABLE IF EXISTS aisles CASCADE;
DROP TABLE IF EXISTS departments CASCADE;
''')

In [16]:
conn.rollback()

In [51]:
cur.execute('''
CREATE TABLE aisles (
aisle_id INTEGER PRIMARY KEY,
aisle VARCHAR(255)
)
''')

In [52]:
cur.execute('''
CREATE TABLE departments (
department_id INTEGER PRIMARY KEY,
department VARCHAR(255)
)
''')

In [53]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [54]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [55]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [56]:
conn.commit()

In [57]:
orders_df.drop('eval_set', inplace=True, axis=1)

In [ ]:
### inserting the dataframe values into the created tables

In [58]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [59]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [60]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [62]:
orders_df.to_sql('orders', con=engine, if_exists='append', index=False)

83

In [66]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

1000

In [26]:
conn.rollback()